.photos {
  display: block;
}
.card {
  display: flex;
  float: left;
  margin-left: 15px;
  margin-top: 10px;
}
.card img {
  max-width: 300px;
  border-radius: 5px;
}
// 暗黑模式下图片背景色
@media (prefers-color-scheme: dark) {
  .card {background-color: #333333;}
}
[data-user-color-scheme='dark'] {
  .card {background-color: #333333;}
}
