.photos {
  display: flex;
}
.card {
  margin-left: 20px;
}
.card img {
  border-radius: 5px;
}
// 暗黑模式下图片背景色
@media (prefers-color-scheme: dark) {
  .card {background-color: #333333;}
}
[data-user-color-scheme='dark'] {
  .card {background-color: #333333;}
}
