// Twikoo
// 输入框调整
textarea.el-textarea__inner
  min-height: 120px !important
  resize: none !important
  height: auto !important
  transition: all 0.25s ease-in-out 0s !important
  background-size: contain !important
  background-repeat: no-repeat !important
  background-position: right !important
  &:focus
    background-position-y: 150px !important
    transition: all 0.35s ease-in-out 0s !important
  &::-webkit-scrollbar
    height: 6px !important
    width: 6px !important
  &::-webkit-scrollbar-track-piece
    background: transparent !important
  &::-webkit-scrollbar-thumb
    border-radius: 5px;
    background-color: #44d7b6
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,0.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.2) 75%,transparent 75%,transparent);
    &:hover
      background-color: #3367d6

// 各类输入框的去线留白
div.el-input-group__prepend
  border: none !important

// 输入框的边框样式
#twikoo input,
#twikoo textarea
  border: none !important
  &:hover
    border: 1px dashed #44d7b6 !important
  &:focus
    border: 1px solid #44d7b6 !important

// 整体字体大小调整
.tk-comment
  font-size: 0.875rem !important

//评论计数
.tk-comments-count
  font-weight: 500 !important
  span:first-child
    font-size: 1.4rem !important
  span:last-child
    font-size: 0.9rem !important

// 不显示浏览器信息等
.tk-extras
  display: none !important

// 不显示点赞按钮
.tk-main .tk-row .tk-action
  a:first-child
    display: none
  a:last-child
    span:last-child
      display: none

// 查看更多
.tk-comments-container > .tk-expand
  background: #f1f1f1 !important
  border-radius: 4px !important
  line-height: 2 !important
  font-size: 14px !important
  padding: 8px 2rem !important
  font-weight: 600 !important

// 加载框
.el-loading-mask
  top: -400px !important
  z-index: 1 !important

// 最大显示长度
.tk-replies
  max-height: 335px !important
.tk-replies-expand
  max-height: none !important

// 评论框间距
.tk-comment
  margin-top: 1.45rem !important

// 评论字体大小
.tk-content p
  font-size: 0.975rem !important

// 不显示头像
.tk-submit .tk-avatar
  display: none !important
.tk-row.actions
  margin-left: 0 !important

// 预览
.tk-preview-container
  margin-left: 0 !important

//拉长twikoo
.tk-footer {
  margin-top 250px !important
}